body,
html {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    height: 100%;
    font-weight: 800;
}

.container-fluid {
    background-color: #3d597c;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
